<!-- app-users-profil.component.html -->
<p-toast position="top-center" key="msg-data"></p-toast>
<div class="user-profile" *ngIf="producer">
  <h3>Laboratory: {{ producer.name }}</h3>
  <br />
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="producer.name" disabled />
  </div>

  <div class="form-group">
    <label for="address">Email:</label>
    <input id="address" [(ngModel)]="producer.email" disabled />
  </div>

  <div class="form-group">
    <label for="address">Address:</label>
    <input id="address" [(ngModel)]="producer.address" disabled />
  </div>
</div>

<hr />

<div class="user-profile">
  <h3>Medicine: {{ selectedData.name }}</h3>
  <br />
  <div class="form-group">
    <label for="name">Name:</label>
    <input
      id="name"
      [(ngModel)]="selectedData.name"
      [disabled]="!editMode || disabled_state"
    />
  </div>

  <div class="form-group">
    <label for="address">Description:</label>
    <textarea
      rows="5"
      cols="100"
      pInputTextarea
      name="desc"
      ngModel
      required
      [(ngModel)]="selectedData.description"
      [disabled]="!editMode || disabled_state"
    ></textarea>
  </div>

  <div class="form-group">
    <label for="address">Chemical Composition:</label>
    <input
      id="address"
      [(ngModel)]="selectedData.chemical_composition"
      [disabled]="!editMode || disabled_state"
    />
  </div>

  <div class="form-group">
    <label for="address">Side Effects:</label>
    <textarea
      rows="5"
      cols="100"
      pInputTextarea
      name="desc"
      ngModel
      required
      [(ngModel)]="selectedData.side_effects"
      [disabled]="!editMode || disabled_state"
    ></textarea>
  </div>

  <div class="form-group">
    <label for="state">Dosage Form:</label>
    <p-dropdown
      *ngIf="editMode"
      [options]="Roles"
      [(ngModel)]="selectedRole"
      [showClear]="false"
      placeholder="Select a Role"
      [ngModelOptions]="{ standalone: true }"
      [disabled]="disabled_state"
    ></p-dropdown>
    <input
      *ngIf="!editMode"
      id="state"
      [(ngModel)]="selectedData.dosage_form"
      [disabled]="!editMode || disabled_state"
    />
  </div>

  <div class="form-group">
    <label for="name">Manufacture Date:</label>
    <input
      id="name"
      *ngIf="!editMode"
      [(ngModel)]="selectedData.manufacture_date"
      [disabled]="!editMode || disabled_state"
    />
    <p-calendar
      *ngIf="editMode"
      [maxDate]="minDate"
      [readonlyInput]="true"
      [showIcon]="true"
      [style]="{ width: '70%' }"
      [inputStyle]="{ width: '70%' }"
      appendTo="body"
      name="manDate"
      ngModel
      [disabled]="disabled_state"
    ></p-calendar>
  </div>

  <div class="form-group">
    <label for="name">Expiry Date:</label>
    <input
      id="name"
      *ngIf="!editMode"
      [(ngModel)]="selectedData.expiry_date"
      [disabled]="!editMode || disabled_state"
    />
    <p-calendar
      *ngIf="editMode"
      [minDate]="minDate"
      [readonlyInput]="true"
      [showIcon]="true"
      [style]="{ width: '70%' }"
      [inputStyle]="{ width: '70%' }"
      appendTo="body"
      name="manDate"
      ngModel
      [disabled]="disabled_state"
    ></p-calendar>
  </div>

  <div class="form-group">
    <label for="name">Price:</label>
    <p-inputNumber
      inputId="currency-tunisia"
      mode="currency"
      currency="TND"
      locale="ar-TN"
      currencyDisplay="code"
      id="name"
      [(ngModel)]="selectedData.price"
      [disabled]="!editMode || disabled_state"
    />
  </div>

  <div class="form-group">
    <label for="name">Quantity:</label>
    <p-inputNumber
      id="name"
      inputId="integeronly"
      [(ngModel)]="selectedData.quantity"
      [disabled]="!editMode || disabled_state"
    />
  </div>

  <div class="form-group">
    <label for="name">State:</label>
    <input id="name" [(ngModel)]="selectedData.state" disabled />
  </div>

  <div class="table-container" *ngIf="display">
    <label for="buyers">List of Buyers:</label>
    <p-table
      styleClass="p-datatable-gridlines"
      styleClass="p-datatable-gridlines"
      [resizableColumns]="true"
      [paginator]="true"
      [rows]="4"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [resizableColumns]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width: 15%">
            Email<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="price" style="width: 20%">
            Name<p-sortIcon field="price"></p-sortIcon>
          </th>
          <th pSortableColumn="quantity" style="width: 15%">
            Address<p-sortIcon field="quantity"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-med>
        <!-- <tr (click)="show(med)">
          <td>{{ med.name }}</td>
          <td>{{ med.price | number : "0.3-3" }} TND</td>
          <td>{{ med.quantity }}</td>
          <td>{{ med.expiry_date | date : "shortDate" }}</td>
          <td>{{ med.state }}</td>
        </tr> -->
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" style="text-align: center">
            Nothing to display yet.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="button-container">
  <button
    *ngIf="!editMode && edit"
    pButton
    type="button"
    class="p-button"
    [disabled]="disabled_state"
    (click)="onEditClick()"
  >
    Edit <i class="pi pi-pencil"></i>
  </button>

  <button
    *ngIf="!editMode && edit"
    pButton
    type="button"
    class="p-button-danger"
    [disabled]="disabled_state"
    (click)="deleteMedicine()"
  >
    Delete <i class="pi pi-trash"></i>
  </button>

  <button
    *ngIf="editMode && edit"
    pButton
    type="button"
    class="p-button-success"
    [disabled]="disabled_state"
    (click)="updateMedicine()"
  >
    Save <i class="pi pi-check"></i>
  </button>
  <button
    *ngIf="editMode && edit"
    pButton
    type="button"
    class="p-button-danger"
    [disabled]="disabled_state"
    (click)="onCancelClick()"
  >
    Cancel <i class="pi pi-times"></i>
  </button>
  <button
    *ngIf="!editMode && admin && edit"
    pButton
    type="button"
    class="p-button-success"
    [disabled]="disabled_state"
    (click)="validateMedicine()"
  >
    Valid <i class="pi pi-check"></i>
  </button>
  <button
    *ngIf="displayPharmacy"
    pButton
    type="button"
    class="p-button-success"
    [disabled]="disabled_state"
    (click)="validateMedicine()"
  >
    Purchase <i class="pi pi-check"></i>
  </button>
</div>
