.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.custom-card {
  width: 70%; /* Adjust the width as needed */
}

.card-content {
  display: flex;
  align-items: center; /* Center items vertically within card-content */
}

.card-image {
  width: 300px; /* Adjust the width of the image as needed */
  height: auto;
}

.card-description {
  margin-left: 20px; /* Adjust the margin between image and description as needed */
  text-align: justify; /* Adjust the text alignment as needed */
}

.footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}
