.centered {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.custom-card {
  width: 70%; /* Adjust the width as needed */
  background-color: transparent;
}

.card-content {
  display: flex;
  align-items: center; /* Center items vertically within card-content */
}

.card-image {
  width: 150%; /* Adjust the width of the image as needed */
  height: auto;
}

.footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.card-description {
  margin-left: 20px;
  text-align: justify;
  font-size: 1.5vw;
  color: #ffffff;
}
