<div class="centered">
  <p-card header="PharmaLab" class="custom-card">
    <div class="card-content">
      <img
        src="../../assets/Pharmacy-Illustration-AI.jpg"
        alt=""
        class="card-image"
      />
      <p class="card-description">
        Pharmalab revolutionizes pharmaceutical transactions, seamlessly
        connecting laboratories and pharmacies. With a user-friendly interface,
        real-time inventory management, and automated processes, Pharmalab
        ensures efficient and secure exchanges. Committed to compliance and
        supported by responsive customer service, Pharmalab stands as the
        premier choice for streamlined and innovative medicine transactions in
        the healthcare industry.
      </p>
    </div>
  </p-card>
</div>

<br />

<app-medicines></app-medicines>

<br />
<hr />

<app-laboratories></app-laboratories>
