<!-- user.component.html -->
<p-toast position="top-right" key="msg-log" data-toastNonLogged="tnl"></p-toast>
<div *ngIf="user">
  <div class="user-profile">
    <h2>{{ user.name }}'s Profile</h2>
    <hr />
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="user.email" disabled />
    </div>

    <div class="form-group">
      <label for="state">Role:</label>
      <input id="state" [(ngModel)]="user.role" disabled />
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="user.name" [disabled]="!editMode" />
    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <input id="address" [(ngModel)]="user.address" [disabled]="!editMode" />
    </div>

    <div class="button-container">
      <button
        *ngIf="editMode"
        pButton
        type="button"
        class="p-button-success"
        (click)="onUpdateClick()"
      >
        Confirm <i class="pi pi-check"></i>
      </button>
      <button
        *ngIf="editMode"
        pButton
        type="button"
        class="p-button-danger"
        (click)="onCancelClick()"
      >
        Cancel <i class="pi pi-times"></i>
      </button>
      <button
        *ngIf="!editMode"
        pButton
        type="button"
        class="p-button"
        (click)="onEditClick()"
      >
        Edit <i class="pi pi-pencil"></i>
      </button>
    </div>
  </div>
</div>
