body{
  margin-top: 10%;
}

.actions p{
  margin-left: 10px;
}

tr{
  cursor: pointer;
}

tr:hover{
  background-color: #f2f2f2;
}

.list-users{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  transition: box-shadow .3s ease-in-out;
}

h2{
  color: #473bf0;
}

hr{
  margin-bottom: 20px;
}
