<p-toast position="top-right" key="msg5" data-msg="msg"></p-toast>
<div class="list-users">
  <p-tabView>
    <p-tabPanel header="Pharmacies">
      <h2>List of pharmacies</h2>
      <hr />
      <p-table
        [value]="pharmacies"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-gridlines"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="email" style="width: 20%">
              Email<p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="name" style="width: 20%">
              Name<p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="address" style="width: 20%">
              Address<p-sortIcon field="address"></p-sortIcon>
            </th>
            <th pSortableColumn="state" style="width: 20%">
              State<p-sortIcon field="state"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pha>
          <tr (click)="show(pha)" data-testid="pharmacy-row">
            <td data-pha1="pha1">{{ pha.email }}</td>
            <td data-pha2="pha2">{{ pha.name }}</td>
            <td data-pha3="pha3">{{ pha.address }}</td>
            <td>
              <p-tag
                [value]="pha.state"
                [severity]="getSeverity(pha.state)"
                [rounded]="true"
                [icon]="icon"
              ></p-tag>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" style="text-align: center">
              Nothing to display yet.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Laboratories" data-lab="lab">
      <h2>List of laboratories</h2>
      <hr />
      <p-table
        [value]="laboratories"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-gridlines"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="email" style="width: 30%">
              Email<p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="name" style="width: 10%">
              Name<p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="address" style="width: 30%">
              Address<p-sortIcon field="address"></p-sortIcon>
            </th>
            <th pSortableColumn="state" style="width: 10%">
              State<p-sortIcon field="state"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lab>
          <tr (click)="show(lab)" data-testid2="lab-row">
            <td data-lab1="lab1">{{ lab.email }}</td>
            <td data-lab2="lab2">{{ lab.name }}</td>
            <td data-lab3="lab3">{{ lab.address }}</td>
            <td>
              <p-tag
                [value]="lab.state"
                [severity]="getSeverity(lab.state)"
                [rounded]="true"
                [icon]="icon"
              ></p-tag>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" style="text-align: center">
              Nothing to display yet.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</div>
