.medicine-form {
  max-width: 800px; /* Adjust the maximum width as needed */
  border: 1px solid #ddd; /* Add border to the form */
  padding: 20px; /* Add padding for better spacing */
  margin: 10px auto; /* Add margin to create space around the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #FFFFFF;
}

.medicine-form h2 {
  text-align: center;
  color: #84e296;
  font-size: xx-large;
  font-weight: bolder;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px; /* Adjust the margin as needed */
}

label {
  flex: 1;
  margin-right: 10px; /* Adjust the margin as needed */
}

input,
textarea,
p-dropdown,
p-calendar,
p-inputNumber {
  flex: 2;
  /* Adjust the width as needed or use a different flex value */
}

button {
  margin-top: 15px; /* Adjust the margin as needed */
}

/* Optional: Style for better readability */
label {
  font-weight: bold;
  color: #473bf0;
}

textarea {
  resize: vertical;
}

.button-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 50%;
}

.smaller-image {
  width: 80%;  /* Adjust as needed */
  height: auto; /* Keeps the aspect ratio */
}
