.medicine-form {
  max-width: auto;
  padding: 30px;
  margin: 20px; /* Add space around the form */
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  transition: box-shadow .3s ease-in-out;
}

.medicine-form h2 {
  text-align: center;
  color: #84e296;
  font-size: x-large;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group.row {
  flex-direction: row;
}

label {
  margin-bottom: 5px;
}

input,
textarea,
p-dropdown,
p-calendar,
p-inputNumber {
  width: 100%;
}

button {
  margin-top: 15px;
  width: 100%;
}

.button-div {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 50%;
}

.smaller-image {
  width: 80%;
  height: auto;
}

.custom-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cd{
  margin-top: -2px;
}


