/* You can add global styles to this file, and also import other style files */
*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  /* background-color: #ADACB5; */
  /* background-color: #CDCDCD; */
  background-image: url(./assets/cool-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: rgb(0,255,188);
  background: linear-gradient(90deg, rgba(0,255,188,1) 0%, rgba(0,100,236,1) 45%, rgba(0,212,255,1) 100%); */
  /* background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(118,119,121,1) 100%); */

}
